{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Tresor App</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi totam ipsa odit 
            omnis vitae molestias culpa earum saepe nobis, et sit iure optio exercitationem 
            perspiciatis a quas eos voluptatibus dolore.
        </p>

        <div class="text-center">
            <a class="btn btn-primario" href="/signin/">
                Log In
            </a>
            <a class="btn btn-secundario" href="/signup/">
                Sign Up
            </a>
        </div>
    </section>
</main>


{% endblock %}